{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
	
	<form action="{% url 'create_listing' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			{{ form }}
		
		<!-- Datalist option for category choice --> 
		<label for="categories">Category</label>
		<input list="categories" name="category" required class="form-control" id="id_listing_category">
			<datalist id="categories">
			{% for category in categories %}
				<option value="{{ category }}" class="form-control">
			{% endfor %}
			</datalist>
		</div>
		<input type="submit">
	</form>

{% endblock %}