{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing for {{ listing.item_name }} </h2>
		
	<div class="card" style="width: 25rem;">
		<div class="card-header"><h4>Details: {{ listing.item_description }}</h4></div>
		<img class="card-img-top" src="{{ listing.item_image_url }}" alt="No image available for {{ listing.item_name }}">
			<div class="card-body">
				<p class="card-text">Posted by: {{ listing.item_owner }}</p>
				<p class="card-text">Category: {{ listing.item_category }}</p>
				<p class="card-text">Starting bid: ${{ listing.item_starting_bid }}</p>
				
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Current highest bid: ${{ listing.item_max_bid }}</li>
					<li class="list-group-item">Current highest bidder: {{ listing.item_current_highest_bidder }}</li>
					<li class="list-group-item">Current bid count: {{ listing.item_bid_count }}</li>
				</ul>
				<br>
				<h3>Bidding history:</h3>
				
					<table class="table">
					  <thead>
						<tr>
						  <th scope="col">#</th>
						  <th scope="col">Username</th>
						  <th scope="col">Amount</th>
						</tr>
					  </thead>
					  <tbody>
						{% for bid_entry in bidding_history %}
							<tr>
							  <th scope="row"> {{ forloop.counter }} </th>
							  <td>
								{% if bid_entry.bid_bidder == listing.item_owner %}
									{{ bid_entry.bid_bidder }} <p class="font-weight-bold">(Starting bid)</p>
								{% else %} 
									{{ bid_entry.bid_bidder }}
								{% endif %}
							  </td>
							  <td> {{ bid_entry.bid_amount }} </td>
							</tr>
						{% endfor %}
					  </tbody>
					</table>
									
				<a href="#" class="btn btn-primary">Placeholder for making a bid </a>

				<br> <br>
				
				<div class="row">
					<div class="col-sm-5">
					  <div class="card">
						  <a href="{% url 'add_to_wishlist' %}" class="btn btn-primary">Add to Wishlist</a>
					  </div>
					</div>
					<div class="col-sm-6">
					  <div class="card">
						  <a href="#" class="btn btn-primary">Remove from Wishlist</a>						
					  </div>
					</div>
				  </div>

				<br>

				<form action=" {% url 'add_comment' %} " method="post">
					{% csrf_token %}
					<div class="form-group">
						<label for="exampleFormControlTextarea1">Enter a comment: </label>
						<textarea class="form-control" name="comment" rows="3"></textarea>
						<input type="hidden" id="listing_id" name="listing_id" value="{{ listing.item_id }}">
					</div>
					<button type="submit" class="btn btn-primary">Submit Comment</button>
				</form>
				
				<h3>Comments: </h3>
				
					<table class="table">
					  <thead>
						<tr>
						  <th scope="col">#</th>
						  <th scope="col">Username</th>
						  <th scope="col">Comment</th>
						</tr>
					  </thead>
					  <tbody>
						{% for comment in comment_history %}
							<tr>
							  <th scope="row"> {{ forloop.counter }} </th>
							  <td>
								{{ comment.comment_user }}
							  </td>
							  <td> {{ comment.comment_string }} </td>
							</tr>
						{% endfor %}
					  </tbody>
					</table>
				
			</div>
	</div>
	
	<!-- NTS: Need to add watchlist, to bid, to close options --> 


	
{% endblock %}