{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
		
		<div class="card" style="width: 18rem;">
			<h4>Item name: {{ listing.item_name }}</h4>
			<img class="card-img-top" src="{{ listing.item_image_url }}" alt="Image of {{ listing.item_name }}">
				<div class="card-body">
					<p class="card-text">Details: {{ listing.item_description }}</p>
					<p class="card-text">Posted by: {{ listing.item_owner }}</p>
					<p class="card-text">Category: {{ listing.item_category }}</p>
					<p class="card-text">Startinng bid: ${{ listing.item_starting_bid }}</p>
				</div>
		</div>
		
		
	{% endfor %}
	
{% endblock %}