{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
		
	{% endfor %}
	
	<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://m.media-amazon.com/images/I/51QXk33t27L._AC_SX522_.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

	<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://m.media-amazon.com/images/I/51QXk33t27L._AC_SX522_.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
	
{% endblock %}