
*.pyc
*.pyc
**/__pycache__/
__pycache__/
Project 1 - Wiki/wiki/encyclopedia/__pycache__/urls.cpython-39.pyc
Project 1 - Wiki/wiki/encyclopedia/__pycache__/urls.cpython-39.pyc
Project 4 - Network/project4/network/migrations/0003_auto_20220721_2210.py
Project 4 - Network/project4/network/migrations/0004_auto_20220721_2214.py
