{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page 
{% endblock %}



{% block body %}
	<!-- Show message if it exists in context -->
	{% if message %}
		<div> 
			{{ message }}
		</div>
	{% endif %}

    <h1> Enter the details for the new entry </h1>

	<form action=" {% url 'create_page' %} " method="post">
		{% csrf_token %}
		Title: <input type='text' name="title"> </input> 
		<br>
		Markdown: <textarea name="markdown_content" cols="30" rows="15"> </textarea>
		<button type="submit">Save</button>
	</form>

{% endblock %}