{% extends "network/layout.html" %}

{% block javascript %} 
<script>
    const redHeartEmoticon = '❤️'; 
    const whiteHeartEmoticon = '🤍'; 
    const blackHeartEmoticon = '🖤'; 

    document.addEventListener('DOMContentLoaded', function() {

        // Attach click listeners to all like buttons. 
        document.querySelectorAll('.like_button').forEach(like_button => { 
            like_button.addEventListener('click', like_button_click)
        }); 

        // Attach click listeners to all edit buttons. 
        document.querySelectorAll('.edit_button').forEach(edit_button => {
            edit_button.addEventListener('click', edit_button_click)
        }); 

        // Attach click listeners to all discard_changes_button buttons. 
        // Discard button will display back the original post content and hide the edit form. 
        document.querySelectorAll('.discard_changes_button').forEach(discard_button => {
            discard_button.addEventListener('click', discard_button_click); 
        }); 

        // Attach submit lister for all forms with class 'edit_form_form' 
        document.querySelectorAll('.edit_post_form_form').forEach(edit_form => {
            edit_form.addEventListener('submit', edit_form_submit); 
        }); 

        // Hide all edit forms. 
        document.querySelectorAll('.edit_post_form_div').forEach(edit_post_form_div => {
            edit_post_form_div.style.display = 'none'; 
        }); 
    }); 

    // Handles the edit of posts asynchronously, without reloading the page. 
    function edit_form_submit(e) {
        const csrftoken = '{{ csrf_token }}'
        let form = this; 
        let post_container = this.parentNode.parentNode; 
        let new_post = post_container.querySelector('.new_post_content').value; 
        let post_id = post_container.querySelector('.post_id').value; 
        let edit_form =  post_container.querySelector('.edit_post_form_div'); 
        let post_content = post_container.querySelector('.post_content'); 
        
        // Change current post content being displayed. 
        let previous_post = post_container.querySelector('.post_content_p'); 
        previous_post.textContent = ("Post content: ").concat(new_post); 

        // Send new_post to backend and save into DB.
        fetch(`/edit_post_via_AJAX`, {
                method: 'POST', 
                headers: {'X-CSRFToken': csrftoken},
                body: JSON.stringify({
                    post_id: post_id, 
                    new_post_content: new_post
                })
            }); 
    
        // Hide back the form and display the post content. 
        edit_form.style.display = 'none'; 
        post_content.style.display = 'block'; 

        // Prevent the form from being submitted. 
        e.preventDefault(); 
    }; 

    // When the discard button is clicked, hide the edit form and display back the post contents. 
    function discard_button_click(e) {
        let discard_button = this; 
        let post_div = discard_button.parentNode.parentNode; 
        let edit_form =  post_div.querySelector('.edit_post_form_div'); 
        let post_content = post_div.querySelector('.post_content'); 

        edit_form.style.display = 'none'; 
        post_content.style.display = 'block'; 
    }; 

    function edit_button_click(e) {
        let edit_button = this; 
        let post_div = edit_button.parentNode.parentNode; 
        let edit_form = post_div.querySelector('.edit_post_form_div'); 
        let post_content = post_div.querySelector('.post_content'); 
        
        // Hide post content and display edit form instead. 
        edit_form.style.display = 'block'; 
        post_content.style.display = 'none'; 

    }; 

    // Handles when the like button is clicked by a logged-in user. 
    // Sends an async request to the backend to process the like. 
    // Changes the icon to indicate that the post has been liked/unliked. 
    function like_button_click(e) {
        const csrftoken = '{{ csrf_token }}'
        let button = this;
        let like = button.textContent;
        let current_user = '{{ user.username }}';
        let post_id = button.dataset['post_id']; 
        let post_div = button.parentNode; 
        let like_count_p_tag = post_div.querySelector('.post_like_count'); 
        let like_id = button.dataset['like_id']; 

        // console.log(this); 'this' represents the button being pressed. 
        // console.log(e); 'e' represents the PointerEvent that triggers the function. 


        if ( like==whiteHeartEmoticon ) {

            // Current status is an unlike. User has liked the post. 

            // Send API request to indicate that the current user has liked this post. 
            // Will send the username, post id and like_end_state status 
            // like_end_state is true if we want the end state to be a like from this user. 
            fetch(`/like`, {
                method: 'POST', 
                headers: {'X-CSRFToken': csrftoken},
                body: JSON.stringify({
                    current_user: current_user, 
                    post_id: post_id, 
                    like_id: like_id, 
                    desired_end_state: 'like', 
                })
            }); 

            // Update front end by toggling button and incrementing follower count. 
            button.textContent = redHeartEmoticon;
            let current_count = parseInt(like_count_p_tag.innerText); 
            current_count = current_count + 1; 
            like_count_p_tag.innerText = current_count; 
            
        } else if ( like == redHeartEmoticon) {

            // Current status is a like. User has unliked the post. 
            fetch(`/like`, {
                method: 'POST', 
                headers: {'X-CSRFToken': csrftoken},
                body: JSON.stringify({
                    current_user: current_user, 
                    post_id: post_id, 
                    like_id: like_id, 
                    desired_end_state: 'unlike', 
                })
            }); 

            // Update front end by toggling button and incrementing follower count. 
            button.textContent = whiteHeartEmoticon;
            let current_count = parseInt(like_count_p_tag.innerText); 
            current_count = current_count - 1; 
            like_count_p_tag.innerText = current_count; 

        }
    }; 
</script>
{% endblock %}

{% block body %}
    <h4>All Posts</h4>

    <!-- Display form to submit a new post for logged in users -->
    {% if user.is_authenticated %}
    <div class="card-body">
        <div class="row card">
            <h5>New Post</h5>
            <form action = " {% url 'new_post' %} " method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Enter your post: </label>
                    <textarea class="form-control" name="post" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Post</button>
            </form>
        </div>
        <br>
    </div>
    {% endif %}

    <!-- Display the content for each post. Includes 'like' functionality -->
    {% for post in page_obj %} 
    <div class="card">
        <div class="card-body"> 
                <div class="post_content">
                    <p class="card-title post_content_p">Post content: {{ post.post_text_content }}</p>
                    <p class="card-text">Posted by: {{ post.post_user }}</p>
                    <p class="card-text">Posted on: {{ post.post_timestamp }}</p>

                    <!-- Only show Edit Button if current_user is the post_owner-->
                    {% if post.isPostOwner %}
                        <button type="button" class="btn btn-info edit_button">Edit</button> <br> <br>
                    {% endif %}

                    <!-- Disable like button if user is not logged in -->
                    <!-- Displays different icons depending on current like status -->
                    {% if post.isUserLoggedIn %}
                        {% if post.hasUserLikedPost %}
                            <button class="like_button" data-post_id="{{ post.post_id }}" data-like_id="{{ post.like_id }}">❤️</button>
                        {% else %} 
                            <button class="like_button" data-post_id="{{ post.post_id }}" data-like_id="{{ post.like_id }}">🤍</button>
                        {% endif %}
                    {% else %} 
                        <button class="like_button" disabled>❤️</button> 
                    {% endif %}
                    
                    <p>Like count: <p class="post_like_count">{{ post.like_count }}</p></p>
                </div>
                <div class="edit_post_form_div">
                    <form action = "" method="post" class="edit_post_form_form">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Edit your post: </label>
                            <textarea class="form-control new_post_content" name="new_post" rows="3">{{ post.post_text_content }}</textarea>
                            <input type="text" name="post_id" class="post_id" value="{{ post.post_id }}" hidden>
                        </div>
                        <button type="submit" class="btn btn-success submit_edits_button">Submit Edits</button>
                    </form>
                    <button class="btn btn-danger discard_changes_button">Discard Changes</button>
                </div>
        </div>
    </div>
    {% endfor %}

    <div class="pagination">
        <nav aria-label="...">
            <ul class="pagination">

                <!-- Disable 'Previous' if has_previous is false. Else, enable 'Previous' -->
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="false">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}

                <!-- Display the links for each page. Highlights the current page as well -->
                {% for i in page_range %}
                    {% if forloop.counter == page_obj.number %} 
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{forloop.counter}}">{{ forloop.counter }}<span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">{{ forloop.counter }}</a></li>
                    {% endif %}
                {% endfor %}

                <!-- Disable 'Next' if has_next is false. Else, enable 'Next' -->
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.next_page_number}}" tabindex="-1" aria-disabled="false">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </div>
{% endblock %}