{% extends "geocache/layout.html" %}

{% block css %}
<style>
    body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}
    .gridline_template {padding: 40px 15px;text-align: center;}
    .player {
        border-radius: 10px; 
        overflow: hidden; 
    }
</style>
{% endblock %}

{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
    var userPosition = null; 

     // ==============================================================================================================================================
    // This code block will get the user coordinates and populate the variable 'userPositon and store into the local storage. 
    /* 
        If supported, run the getCurrentPosition() method.
        If the getCurrentPosition() method is successful, it returns a coordinates object to the function specified in the parameter (showPosition). 
        The second parameter of the getCurrentPosition() method is used to handle errors. 
        It specifies a function to run if it fails to get the user's location. 
    */ 
    function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(setUserPosition, handleLocationError);
        } 
    }; 
    function setUserPosition(position) {
        userPosition = position; 
        let lon = position.coords.longitude; 
        let lat = position.coords.latitude; 
        console.log(`Obtained user position as longitude: ${lon} , latitude: ${lat}.`); 
        
        // Save user coordinates to local storage if it does not exist. 
        if (!localStorage.getItem('userLongitude')) {
            localStorage.setItem('userLongitude', lon);
            localStorage.setItem('userLatitude', lat);
        };
    
    }; 
    function handleLocationError(error) {
        switch(error.code) {
            case error.PERMISSION_DENIED:
                alert("User denied the request for Geolocation.");
                break;
            case error.POSITION_UNAVAILABLE:
                alert("Location information is unavailable."); 
                break;
            case error.TIMEOUT:
                alert("The request to get user location timed out."); 
                break;
            case error.UNKNOWN_ERROR:
                alert("An unknown error occurred in getting user location.");
                break;
        }
    }; 
    // ==============================================================================================================================================

    document.addEventListener('DOMContentLoaded', function() {
        getLocation(); 
    }); 
</script>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12 gridline_template">
            <h1>Welcome to Geocache</h1>

            <h3>What is geocaching? </h3>
            
            <p>
                It is an outdoor recreational activity, in which participants 
                hide and seek containers, called "geocaches" or "caches", at specific locations marked by coordinates all over the world
            </p>

            <p>
                This application allows you to create geocaches, view current unsolved caches and discuss them with your friends! 
            </p>

            <p>
                Go forth and explore the world.
            </p>

            <p><small>Still not sure what geocaching is? Watch the video below!</small></p>

            <div class="player">
                <iframe width="420" height="345" src="https://www.youtube.com/embed/xE-zMPhiAi0"> </iframe>
            </div>

        </div>
    <div>
</div>


{% endblock %}