{% extends "geocache/layout.html" %}

{% block title %} Main Map {% endblock %}

{% block css %} 
<style>
    #map-canvas {
        height: 600px;
    }
    dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    }
    dl dd{
        display: inline-block;
        margin: 0px 10px;
        padding-bottom: 0;
        vertical-align: middle;
    }

</style>
{% endblock %}

{% block javascript %}
<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&key={{API_KEY}}"></script>
<script>

    var map = null; 
    var bounds = null; 

    // This code block will create & populate the google maps with markers. 
    // ==============================================================================================================================================
    function addMarker(lat, lng, title, contentString, icon_url) {
        var position = new google.maps.LatLng(lat, lng);
        var marker = new google.maps.Marker({
            position: position,
            map: map,
            title: title, 
            icon: icon_url
        });
        const infowindow = new google.maps.InfoWindow({
            content: contentString,
        });
        marker.addListener("click", () => {
            infowindow.open({
            anchor: marker,
            map,
            shouldFocus: false,
            });
        });
        bounds.extend(position);
    }; 

    /*
        This function is attached to the button defined in the Google Map pop-up HTML div content. 
        The aim is to toggle the found/not found status for a Geocache (to the user) and 
        sends the request asynchronously to the backend. 
    */
    function toggleFound(event, geocache_id) {
        let mouseClickEvent = event; 
        let button = mouseClickEvent.srcElement;
        let currentStatus = (button.innerHTML).valueOf(); 
        let current_user = '{{ logged_in_user }}'; 
        const csrftoken = '{{ csrf_token }}'
    
        // Have different conditions based on the button content. 
        // Toggle the text content to the user (to reflect UI change) & fetch data to backend. 
        switch(currentStatus) {
            case "Found!": 

                // Toggle button content to the user. 
                button.innerHTML = "Undiscover"; 
                button.className = "btn btn-danger"; 

                // Sends a PUT request to the backend of the desired state. 
                fetch(`/view_map`, {
                    method: 'PUT', 
                    headers: {'X-CSRFToken': csrftoken},
                    body: JSON.stringify({
                        user: current_user, 
                        geocache_id: geocache_id, 
                        status_to_set_to: 'found'
                    })
                }); 

                break; 

            case "Undiscover": 

                // Toggle button content to the user. 
                button.innerHTML = "Found!"; 
                button.className = "btn btn-success"; 

                // Sends a PUT request to the backend of the desired state. 
                fetch(`/view_map`, {
                    method: 'PUT', 
                    headers: {'X-CSRFToken': csrftoken},
                    body: JSON.stringify({
                        user: current_user, 
                        geocache_id: geocache_id, 
                        status_to_set_to: 'not_found'
                    })
                }); 


                break; 

            default: 
                console.log('Error in Switch-Case for toggleFound function.')
        }; 

    }

    function initializeMap() {
        map = new google.maps.Map(document.getElementById('map-canvas'));
        bounds = new google.maps.LatLngBounds();

        // Instantiate JSON object from JSON string from Django. 
        let geocaches = JSON.parse('{{ geocaches|safe }}');
        console.log(`Created JSON from server:`); 
        console.log(geocaches); 
        
        // Iterate over each geocache and plot the coordinates and content. 
        for(let i = 0; i < geocaches.length; i++ ) {
            
            // Extract out each geocache details
            let geocache = geocaches[i]; 
            let latitude = parseFloat(geocache.latitude); 
            let longitude = parseFloat(geocache.longitude); 
            let title = geocache.title; 
            let hint = geocache.hint; 
            let poster = geocache.poster; 
            let num_users_solved = parseInt(geocache.num_users_solved); 
            let geocache_id = geocache.id
            let icon_location = geocache.icon_location; // Eg: "/static/geocache/images/blue_map_icon.png"
            let geocache_category = geocache.category; 
            

            // Extract datetime and parse it. 
            let date_string = geocache.timestamp; 
            let date_object = new Date(date_string);
            let date_string_parsed = ("0" + date_object.getUTCDate()).slice(-2) + "/" +
                ("0" + (date_object.getUTCMonth()+1)).slice(-2) + "/" +
                date_object.getUTCFullYear(); 
            let time_string_parsed = ("0" + date_object.getUTCHours()).slice(-2) + ":" +
                ("0" + date_object.getUTCMinutes()).slice(-2) + ":" +
                ("0" + date_object.getUTCSeconds()).slice(-2);

            // Determine button contents depending on the current category (either discovered, undiscovered or created)
            let button_content = null; 
            switch (geocache_category) {
                case "undiscovered": 
                    button_content = `
                    <button onclick="toggleFound(event, ${geocache_id})" id="${poster+geocache_id}" 
                    class="btn btn-success">Found!</button>
                    `; 
                    break; 
                case "discovered": 
                    button_content = ` 
                    <button onclick="toggleFound(event, ${geocache_id})" id="${poster+geocache_id}" 
                    class="btn btn-danger">Undiscover</button>
                    `; 
                    break; 
                case "created": 
                    // If the current user is the owner, there should be no button present. 
                    button_content = ``;
                    break; 
                default: 
                    console.log('Error in assigning button content.'); 
            }; 
            

            // Generate HTML content which will appear in the pop up. 
            let html_content_prefix = `
                <div id=content>
                    <h1 id=firstHeading class=firstHeading> ${title} </h1>
                    <div id=bodyContent>
                        <p> ${hint} </p>
                        <p> ${num_users_solved} user(s) have found this geocache </p>
                        <p> Follow the discussion <a href='/geocache_discussion_post/${geocache_id}'>here</a> </p>
                        <p> This geocache was created by ${poster} on ${date_string_parsed} at ${time_string_parsed}</p>
            `; 
            let html_content_suffix = `            
                    </div>
                </div>
            `; 
            let html_content = html_content_prefix + button_content + html_content_suffix; 

            // Add the marker. 
            addMarker(latitude, longitude, title, html_content, icon_location); 
            
        }; 

        // Add user position if it exists in the local storage (obtained from index.html)
        if (localStorage.getItem('userLongitude')) {
           
            let userLongitude = parseFloat(localStorage.getItem('userLongitude'));
            let userLatitude = parseFloat(localStorage.getItem('userLatitude')); 
            console.log('Extracted user coordinates from local storage: ', userLongitude, userLatitude); 
            
            let htmlContent = `
                <div id=content>
                    <h1 id=firstHeading class=firstHeading>Your current location.</h1>
                    <div id=bodyContent>
                        <p>You are currently here!</p>
                    </div>
                </div>
            `;

            // Load static resource, the home map icon. 
            {% load static %}
            let home_icon_url = "{% static 'geocache/images/home_map_icon.png' %}"
            addMarker(userLatitude, userLongitude, "Current user location", htmlContent, home_icon_url); 
            
        };

        // Resize map to fit all markers
        map.fitBounds(bounds);
    }; 

    // ==============================================================================================================================================

    // Will load these functions when the page is loaded. 
    document.addEventListener('DOMContentLoaded', function() {
        initializeMap(); 
    }); 
</script>
{% endblock %}

{% block body %}
    <h1>Map:</h1>

    <div id="legend">
        <dl>
            <dd>Legend:</dd>

            <dt><img src="{% static 'geocache/images/home_map_icon.png' %}"></dt>
            <dd>Your current location</dd>
        
            <dt><img src="{% static 'geocache/images/blue_map_icon.png' %}"></dt>
            <dd>Created geocaches</dd>

            <dt><img src="{% static 'geocache/images/green_map_icon.png' %}"></dt>
            <dd>Undiscovered</dd>

            <dt><img src="{% static 'geocache/images/red_map_icon.png' %}"></dt>
            <dd>Discovered</dd>
        </dl>
    </div>

    
    <div id="map-canvas"></div>

    
{% endblock %}