<!-- Code taken from https://github.com/philippbosch/django-geoposition/blob/master/example/templates/poi_list.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Points of Interest</title>
        <style>
            #map-canvas {
                height: 600px;
            }
        </style>
    </head>

    <body>
        <h1>Points of Interest</h1>

        <dl>
            {% for poi in pois %}
                <dt>{{ poi.name }}</dt>
                <dd>{{ poi.position }}</dd>
            {% endfor %}
        </dl>

        <div id="map-canvas"></div>

        <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&key={{API_KEY}}"></script>
        <script>
            function initialize() {
                var map = new google.maps.Map(document.getElementById('map-canvas'));
                var bounds = new google.maps.LatLngBounds();

                function addMarker(lat, lng, title, contentString) {
                    var position = new google.maps.LatLng(lat, lng);
                    var marker = new google.maps.Marker({
                        position: position,
                        map: map,
                        title: title
                    });
                    const infowindow = new google.maps.InfoWindow({
                        content: contentString,
                    });
                    marker.addListener("click", () => {
                        infowindow.open({
                        anchor: marker,
                        map,
                        shouldFocus: false,
                        });
                    });
                    bounds.extend(position);
                }; 

                const contentString =
                    '<div id="content">' +
                    '<div id="siteNotice">' +
                    "</div>" +
                    '<h1 id="firstHeading" class="firstHeading">Uluru</h1>' +
                    '<div id="bodyContent">' +
                    "<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large " +
                    "sandstone rock formation in the southern part of the " +
                    "Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) " +
                    "south west of the nearest large town, Alice Springs; 450&#160;km " +
                    "(280&#160;mi) by road. Kata Tjuta and Uluru are the two major " +
                    "features of the Uluru - Kata Tjuta National Park. Uluru is " +
                    "sacred to the Pitjantjatjara and Yankunytjatjara, the " +
                    "Aboriginal people of the area. It has many springs, waterholes, " +
                    "rock caves and ancient paintings. Uluru is listed as a World " +
                    "Heritage Site.</p>" +
                    '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">' +
                    "https://en.wikipedia.org/w/index.php?title=Uluru</a> " +
                    "(last visited June 22, 2009).</p>" +
                    "</div>" +
                    "</div>";

                // Currently there is nothing in pois yet. 
                {% for poi in pois %}
                    addMarker({{ poi.position.latitude }}, {{ poi.position.longitude }}, "{{ poi.name }}", contentString);
                {% endfor %}

                // Test adding a single point with info window. 
                // Code taken from: https://developers.google.com/maps/documentation/javascript/infowindows
                addMarker(1.3540503, 103.9492165, "Test marker", contentString); 

                map.fitBounds(bounds);
            }; 

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    </body>
</html>